{% extends "timeline/base.html" %}


{% block content %}
<div class="container">

	<div class="row">
		<div class="col-lg-10">
			<h3>{{ today.year }} 년 {{ today.month }} 월 통계 </h3>
		</div>
	</div>

	<div class="row" style="margin-top:30px">
		<div class="col-lg-10">
			<div class="table-responsive">
				<table class="table table-hover">
					<tr>
						<th> 이름 </th>
						<th> 기준급여 (만원/일) </th>
						<th> 근무 합계 (일) </th>
						<th> 총 급여 (만원) </th>
					</tr>
					{% for member in members %}
					<tr>
						<td> {{ member.user }} </td>
						<td> {{ member.user.paycheck }}</td>
						<td> {{ member.monthly_works }}</td>
						<td> {{ member.monthly_paycheck }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="container" style="margin-top:30px">
	<div class="row">
		<div class="col-lg-10">
			<h3>지난 통계 보기</h3>
		</div>
		<div class="col-lg-12" style="margin-top:20px">
			<form class="form-horizontal" action="{% url 'balance_past' %}" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label class="col-lg-2 control-label">연도 선택</label>
					<div class="col-lg-8">
					{% for year in years %}
						<label class="radio-inline">
							<input type="radio" name="year" id="year-{{ forloop.counter0 }}" value="{{ year }}" {% if forloop.counter0 == 0 %} checked {% endif %}> {{ year }}년
						</label>
					{% endfor %}
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">월 선택</label>
					<div class="col-lg-8">
					{% for month in months %}
						<label class="radio-inline">
							<input type="radio" name="month" id="month-{{ forloop.counter0 }}" value="{{ month }}" {% if forloop.counter0 == 0 %} checked {% endif %}> {{ month }}월
						</label>
					{% endfor %}
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-8">
						<button type="submit" class="btn btn-default">통계 보기</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
